    <footer class="flex flex-row items-center mt-auto mx-auto mb-4">
        <div class="flex-1 pl-4">
            <span class="sm:text-xs md:text-base">&copy; 2022 Mood Journal</span>
        </div> 
        <div class="flex flex-row items-center justify-center px-2">
            <div class="sm:h-3 h-5 sm:w-3 w-5 bg-moodYellow"></div>
            <div class="sm:h-3 h-5 sm:w-3 w-5 bg-moodOrange"></div>
            <div class="sm:h-3 h-5 sm:w-3 w-5 bg-moodPink"></div>
            <div class="sm:h-3 h-5 sm:w-3 w-5 bg-moodPurple"></div>
            <div class="sm:h-3 h-5 sm:w-3 w-5 bg-moodBlue"></div>
            <div class="sm:h-3 h-5 sm:w-3 w-5 bg-moodPurple"></div>
            <div class="sm:h-3 h-5 sm:w-3 w-5 bg-moodPink"></div>
            <div class="sm:h-3 h-5 sm:w-3 w-5 bg-moodOrange"></div>
            <div class="sm:h-3 h-5 sm:w-3 w-5 bg-moodYellow"></div>
        </div>
        <div class="flex-1 pr-4">
            <a href="https://github.com/HattieTavares/mood-colors" target="_blank">
                <i class="fa-brands fa-github"></i> <span class="sm:text-xs md:text-base">GitHub</span> 
            </a>
        </div>
    </footer>
</body>
</html>