    <footer class="flex flex-row self-end mt-auto mb-2 w-full">
      <div class="w-2/5 justify-end items-center flex flex-row pl-6"> &copy; 2022 Mood Journal</div> 
      <div class="w-1/5 flex flex-row items-center justify-center">
          <div class="h-5 w-5 bg-moodYellow"></div>
          <div class="h-5 w-5 bg-moodOrange"></div>
          <div class="h-5 w-5 bg-moodPink"></div>
          <div class="h-5 w-5 bg-moodPurple"></div>
          <div class="h-5 w-5 bg-moodBlue"></div>
          <div class="h-5 w-5 bg-moodPurple"></div>
          <div class="h-5 w-5 bg-moodPink"></div>
          <div class="h-5 w-5 bg-moodOrange"></div>
          <div class="h-5 w-5 bg-moodYellow"></div>
    </div>
   <div class="w-2/5 items-center flex flex-row justify-start pl-6"><span><a href="https://github.com/HattieTavares/mood-colors" target="_blank"><i class="fa-brands fa-github"></i> GitHub</span></a></div>
    </footer>

</body>
</html>