<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/68de1d0260.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <title>Mood Journal</title>
</head>

<body class="font-mainTextFont bg-bgColor text-mainTextColor flex flex-col min-h-screen">

    <header class="mb-10 mt-5">
        <a href="/">
        <h1 class='text-2xl font-bold text-center'>Mood Journal</h1>
        <div class='w-full flex flex-row items-center justify-center'>
            <div class='bg-moodYellow w-5 h-5'> </div>
            <div class='bg-moodOrange w-5 h-5'> </div>
            <div class='bg-moodPink w-5 h-5'> </div>
            <div class='bg-moodPurple w-5 h-5'> </div>
            <div class='bg-moodBlue w-5 h-5'> </div>
            <div class='bg-moodPurple w-5 h-5'> </div>
            <div class='bg-moodPink w-5 h-5'> </div>
            <div class='bg-moodOrange w-5 h-5'> </div>
            <div class='bg-moodYellow w-5 h-5'> </div>
        </div>
        </a>
    </header>