<%- include('partials/header.ejs') %>
<div class="flex flex-col justify-center items-center">
	<form
		action="/checkin/newcheckin"
		method="POST"
		class="flex flex-col gap-5 justify-start items-start pb-5"
	>
		<h1 class="flex justify-start items-start text-xl font-extrabold">
			Daily Check In
		</h1>

		<!-- date -->
		<input
			type="date"
			name="date"
			id="date"
			value="<%= today %>"
			class="flex m-8 border border-mainTextColor w-full"
		/>

		<!-- dropdown menu  -->
		<select
			name="scaleNumber"
			class="flex m-8 w-full p-10 border border-mainTextColor font-fontAwesome"
		>
			<option class="text-mainTextColor">--How are you feeling?--</option>
			<option value="1">1 - &#128516 I feel great today!</option>
			<option value="2">2 - &#128522 I feel good today!</option>
			<option value="3">3 - &#128528 I feel okay today.</option>
			<option value="4">4 - &#128532 I feel bad today.</option>
			<option value="5">5 - &#128557 I feel terrible today.</option>
		</select>

		<!-- quick note: 140 characters  -->
		<textarea
			label="Add a quick note about your selection"
			placeholder="Add a quick note about your selection"
			maxlength="140"
			name="note"
			class="flex m-8 w-full p-10 min-w-max text-mainTextColor border border-mainTextColor"
		></textarea>

		<!-- submit checkin -->
		<button
			class="block text-l text-white font-bold bg-buttonBg w-1/2 py-1 shadow-button mx-auto"
		>
			Submit
		</button>
	</form>
	<!-- cancel checkin -->
	<button class="block text-l text-white font-bold bg-buttonBg w-[130px] py-1 shadow-button mx-auto">
		<a href="/dashboard" class="">Cancel</a>
	</button>
</div>
<%- include('partials/footer.ejs') %>