<%- include('partials/header.ejs') %>


<section>
    <!-- Greet user -->
    <span>Hello, <%= user.userName %>!</span>

<!-- link to Check In view -->
    <button><a href="/checkin">checkin</a></button>
</section>

<section class="container">
<!-- grid to display mood colors -->
    <!-- show current week -->
    <div class="flex grid grid-cols-7 gap-0">
        <div class="w-1/7 outline outline-moodBlue" id="day1">.</div>
        <div class="w-1/7 outline outline-moodBlue" id="day2"></div>
        <div class="w-1/7 outline outline-moodBlue" id="day3"></div>
        <div class="w-1/7 outline outline-moodBlue" id="day4"></div>
        <div class="w-1/7 outline outline-moodBlue" id="day5"></div>
        <div class="w-1/7 outline outline-moodBlue" id="day6"></div>
        <div class="w-1/7 outline outline-moodBlue" id="day7"></div>
    </div>
    <!-- if (checkin.length > 0) { -->
        <!-- show history -->
    <!--} else { -->
    <p>Please add a checkin to get started. </p>
    <!-- } %-->
</section>

<section>
<!-- logout button -->
<button><a href="/logout">logout</a></button>
</section>

<%- include('partials/footer.ejs') %>