<%- include('partials/header.ejs') %>

<!-- Intro Section -->
<section class="block border-solid border-2 border-border shadow-button w-11/12 md:w-6/12 lg:w-3/12 p-10 mx-auto">
  <h2 class="text-xl font-semibold pb-2">
    A daily check-in app about how you're feeling.
  </h2>
  <p class="text-l font-normal">
    Keep track of your mental and physical wellbeing. Build a visual representation of your moods over time.
  </p>
</section>

<!-- Login or Signup -->
<section class="block">
  <!-- Links to login page -->
  <a 
    href="/login"
    class="block text-center text-l text-white font-bold bg-buttonBg w-6/12 md:w-4/12 lg:w-1/12 py-1 shadow-button my-5 mx-auto"
    >login</a>
  <!-- Links to signup page -->
  <a 
    href="/signup"
    class="block text-center text-l text-white font-bold bg-buttonBg w-6/12 md:w-4/12 lg:w-1/12 py-1 shadow-button my-5 mx-auto"
    >sign up</a>
</section>

<%- include('partials/footer.ejs') %>